<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/abtest.js"></script>
    <title>ABTest Prototype Page</title>
    <!-- refs. Comparto TemplateMo (https://templatemo.com/tm-544-comparto) -->
</head>

<body>
    <div class="container-fluid">
        <article class="tm-section-1-r tm-bg-color-8">
            <h1 class="tm-mb-2 tm-title-color">ABTest Prototype Page</h1>
            <p></p>
            <p>Current CSS Type is
            <script>
                document.write(option + "</p>");
            </script>
            
            <a href="#" class="tm-btn tm-btn-1 tm-link-to-services" onclick="log();">Click</a>
            <a href="http://147.46.67.251:37777/click/" class="tm-btn tm-btn-1 tm-link-to-services">Result</a>
        </article>
    </div> <!-- .container -->
</body>
</html>
